* {
  box-sizing: border-box;
}
.table__wrapper {
  overflow-x: auto;
}
.table__wrapper {
  height: 200px;
  width: 200px;
}
.tg-0pky {
  font: red;
}

.totalHoursInbox {
  text-align: center;
  font-weight: bold;
}
.theNewTable {
  position: absolute;
  justify-content: space-around;
  top: 16%;
  border: solid 1px;
  width: max-content;
  font-size: smaller;
}
.btn {
  background-color: red;
  color: red;
}
.re {
  background-color: red;
  width: 100px;
  height: 100px;
}
