* {
  box-sizing: border-box;
}
.MainTotalHours {
  display: inline-flex;
  justify-content: space-around;
  height: 30px;
  width: 7cm;
  background-color: #487eb0;
  position: absolute;
  left: 67%;
  top: 0%;
  color: white;
  padding: 5px;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.timecontainer {
  background-color: white;
  height: 20px;
  width: 50px;
  border-radius: 290486px;
  float: right;
  text-align: center;
  color: black;
  margin-bottom: 20px;
  overflow: hidden;
}

.settimana {
  background-color: #00a8ff;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 23%;
  top: 100%;
  width: 4cm;
  border-radius: 0px 0px 10px 10px;
}
.settimanaTime {
  background-color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 2px;
  color: black;
  overflow: hidden;
}
