.Home {
  display: flex;
  position: absolute;
  /* background-image: url(../../Images/hero.jpg); */
  width: 71%;
  height: 91%;
  flex-wrap: wrap;
  top: 1.5%;
  left: 27%;
  border-radius: 15px;
}
