.FristPage {
  display: flex;
  position: relative;
  width: 71%;
  height: 81%;
  flex-wrap: wrap;
  top: 5%;
  left: 27%;
  border-radius: 15px;
  background-color: #e7e8ee;
}
.daystyling {
  position: absolute;
  left: 3%;
  top: 23%;
  background-color: #487eb0;
  width: 119px;
  height: 395px;
  border-radius: 15px;
}
.ingressobox {
  position: absolute;
  left: 38.5%;
  top: 20%;
  background-color: #487eb0;
  width: 91px;
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  color: white;
}
.uscitabox {
  position: absolute;
  left: 49.5%;
  top: 20%;
  background-color: #487eb0;
  width: 91px;
  height: 50px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  color: white;
}
