* {
  box-sizing: border-box;
}
.FirstPage {
  background-color: white;
  height: 528px;
  border-radius: 3%;
}
.listnumber {
  position: absolute;
  top: 88%;
  right: 29.5%;
}

.next {
  position: absolute;
  top: 88%;
  right: 22%;
}
.next:hover {
  background-color: #1c5fc2;
  transition: 0.5s;
  color: white;
}
.pevious {
  position: absolute;
  top: 88%;
  left: 54%;
}
.pevious:hover {
  background-color: #1c5fc2;
  transition: 0.5s;
  color: white;
}
