.mainContainer1 {
  width: fit-content;
}
.secondMainContainer {
  position: fixed;
  top: 27%;
  left: 34%;
  width: 64%;
  height: 55px;
  background-color: rgb(250, 242, 242);
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px !important;
  border: #b2bec3 solid 1px;
  /* overflow: hidden; */
}
.field,
.TotalTimeContainer,
.time,
.control {
  display: flex;
  flex-direction: column;
  justify-content: ;
  width: fit-content !important;
  background-color: #487eb0;
  width: 91px;
  height: 55px;
  border-radius: 10px 10px 0px 0px;
  color: aliceblue;
}
label {
  text-align: center;
}
.select,
.uscitap1,
.timep1 {
  border-radius: 290486px;
}
.select {
  width: 100%;
}
.button.is-link {
  background-color: #487eb0 !important;
  border-radius: 10px 10px 10px 10px !important;
  height: 55px !important;
  width: 95px;
}
.button.is-link:hover {
  font-size: 19px;
  opacity: 0.9;
}
.totalTime {
  width: 100px;
}
