.label.input {
  border-radius: 3px 3px 3px 3px;
  background-color: #487eb0;
  color: aquamarine;
  width: fit-content;
}
.input {
  width: 150px;
}
.box .field .controler {
  font-style: white !important;
}
.box {
  width: fit-content;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between !important;
}
